<ul id="nav_parallax">
	<li><a href="#intro_parallax" title="Next Section"><%= image_tag "ball.png" ,:alt =>"parallax"%></a></li>
    <li><a href="#second_parallax" title="Next Section"><%= image_tag "ball.png" ,:alt =>"parallax"%></a></li>
    <li><a href="#third_parallax" title="Next Section"><%= image_tag "ball.png" ,:alt =>"parallax"%></a></li>
    <li><a href="#fifth_parallax" title="Next Section"><%= image_tag "ball.png" ,:alt =>"parallax"%></a></li>
</ul>

<div id="intro_parallax">
	<div class="story">
    	<div class="float-left">
		<h2>(Almost) Static Background</h2>
        <p>This section has a background that moves slightly slower than the user scrolls. This is achieved by changing the top position of the background for every pixel the page is scrolled.</p>
        </div>
    </div> <!--.story-->
</div> <!--#intro-->

<div id="second_parallax">
	<div class="story"><div class="bg"></div>
    	<div class="float-right">
            <h2>Multiple Backgrounds</h2>
            <p>The multiple backgrounds applied to this section are moved in a similar way to the first section -- every time the user scrolls down the page by a pixel, the positions of the backgrounds are changed.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio. Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.</p>
        </div>
    </div>
    
</div> 

<div id="third_parallax">
	<div class="story">
    	<div class="float-left">
        	<h2>What Happens When JavaScript is Disabled?</h2>
            <p>The user gets a slap! Actually, all that jQuery does is moves the backgrounds relative to the position of the scrollbar. Without it, the backgrounds simply stay put and the user would never know they are missing out on the awesome! CSS2 does a good enough job to still make the effect look cool.</p>
        </div>
    </div> <!--.story-->
</div> 

<div id="fifth_parallax">
	<div class="story">
	    <footer>
		  <p>Facebook</p>
		  <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
		</footer>
    </div> 
</div> 