<div class="row-fluid" id="fotter_mejorasweb">
	<div class="container">
		<div class="row-fluid text_center">
			Monterrey, NL, Mexico
			Todos los derechos reservados
			<!-- <div class="col-md-3">
				Diseños Empresariales ala medida
				Comunicate con nosotros para obtener mejoras beneficios, solucionaremos tu necesidad web ala medida o te ayudaremos a crearla.
			</div> -->
		</div>
	</div>
</div>