<div class="row-fluid" id="nav">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">Bienvenido</div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active menu_item" id="first"> 
            <a href="#index_for_page">Enterate</a>
          </li>
          <li id="second" class="menu_item" ><a href="#second_page">Ejemplos</a></li>
          <li id="three" class="menu_item" ><a href="#three_page">Contacto</a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<script type="text/javascript">
  $('#nav').localScroll(800);
  $(".menu_item").click(function(event) {
     $(".menu_item").removeClass('active');
     $(event.currentTarget).addClass('active');
  });
  $("#first").click(function() {
    $('html, body').animate({
          scrollTop: $("#index_for_page").offset().top
      }, 2000);
  });

  $("#second").click(function() {
    $('html, body').animate({
          scrollTop: $("#second_page").offset().top
      }, 2000);
  });

  $("#three").click(function() {
    $('html, body').animate({
          scrollTop: $("#three_page").offset().top
      }, 2000);
  });

</script>